<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<style>
.jumbotron {
  padding: 1rem;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>

<title>bty</title>
</head>
<body>

{% block body %}
<div class="container">
{% block content %}{% endblock %}
</div> <!-- /container -->

{% block libs %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
{% endblock libs  %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {

  var url = window.location;

  $.getJSON("cfg", function(cfg) {
    console.log(cfg);
  }).done((typeof main != 'undefined') ? main : function(cfg) {
    console.log("Default handler: NOOP");
  }).fail(function(cfg) {
    console.log("FAILED");
    console.log(cfg);
    $("#content").prepend($("<div>")
      .addClass("alert")
      .addClass("alert-danger")
      .prop("role", "alert")
      .text("Failed loading state, try refreshing"));
  }).always(function() {
    console.log("ALWAYS!");
    $("#content").css("opacity", "1.0");
    $("#spinner").addClass("hidden");
  });
});
</script>
{% endblock script %}
{% endblock body %}
</body>
</html>
